main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1% 1%;

}
.text-suggested{
    font: normal normal bold 40px/12px Ebrima;
    letter-spacing: 0px;
    color: #45326A;
    margin-bottom: 0.5em;
}


.suggested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 7%;
    width: 80vw;

}



.messages{
    text-align: center;
    font: normal normal bold 4em Ebrima;
    color: #45326A;

}

.games{
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 47px;
    align-items: center;
}

.title{
    text-align: center;
    letter-spacing: 0px;

    text-align: center;

}
.title>input{
    font: normal normal bold 1.5em Ebrima;
    color: #45326A;
    background-color:rgba(255,255,255,0.5);
    border: none    ;
    margin-top: 10%;
    margin-bottom: 20%;


}

.suggested>form>input{
    object-fit: fill  ;
    width:16vw;
    height:32vh;
    align-items: center;
    border: 1px solid #707070;
    margin: 4%;
    margin-top: 7%;

}

@media (max-width: 500px),(max-device-width: 500px) {
    .suggested {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .suggested>form{
        width: 50%;
    }
    .suggested>form>input{
        height: 14vh;
        width: 70%;
    }

}





