main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 7%;

}
.messages{
    text-align: center;
    font: normal normal bold 4em Ebrima;
    color: #45326A;

}

.searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar>p{
    color: #45326a;
    font: normal normal bold 2em Arial;
    text-align: center;


}
.searchBar>input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #45326A;
    border-radius: 30px;
    width:40vw;
    height: 5vh;

    font: normal normal normal 1.3em Arial;
    padding: 2%;
    margin-bottom: 5%;
}

.games{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titleOfGames>input{
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    text-align: center;
    font: normal normal normal 1em Ebrima;
    letter-spacing: 0px;
    width: 25vh;
    margin: 2%;
}

@media (max-width: 500px),(max-device-width: 500px) {

    .searchBar {
        font: normal normal normal 2em Arial;
    }

    .searchBar > p {
        font: normal normal normal 2em Arial;
    }
    .titleOfGames>input{
        font-size: 3em;
    }

}