main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 7%;

}


.games{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 7%;

}

.messages{
    text-align: center;
    font: normal normal bold 4em Ebrima;
    color: #45326A;

}

    .games>form>input{
        object-fit: fill  ;
        width:100%;
        height:100%;
        align-items: center;
        border: 1px solid #707070;
        border-radius: 64px;

    }
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #707070;
    border-radius: 34px;
    background-color:rgba(255,255,255,0.5);
    min-width: 70%;
    max-width: 95%;
    min-height: 10%;
    max-height: 95%;

}
.title>input{
    text-align: center;
    font: normal normal bold 1.4em Ebrima;
    color: #45326A;
    width: 100%;
    height: 100%;
    border: none;
    background-color:transparent;

}

.game-1{
    position: relative;
}

.icon{
    display: flex;
    justify-content: center;
    border: 1px solid #707070;
    border-radius: 64px;
    background-color: #FFFFFF;
    width:100%;
    height:100%;
    align-items: center;

}

.icon>i{
    color: #45326a;
}

.togglesearch{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.togglesearch>p{
    color: #45326a;
    font: normal normal normal 2em Arial;
    text-align: center;
}

.searchInput{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #45326A;
    border-radius: 30px;
    width:40vw;
    height: 5vh;

    font: normal normal normal 1.3em Arial;
    padding: 2%;
}



@media (max-width:1050px) {
    .games{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 7%;
    }

    .icon>button{
        width: 80%;
        height: 80%;
        font-size: 1.5em;
    }
}

@media (max-width: 500px),(max-device-width: 500px) {
.games{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .games>form{
        width: 60vw;
        height: 25vh;
        margin-bottom: 10%;
    }

    .add{
        width: 60vw;
        height: 25vh;
        margin-bottom: 10%;

    }
    .icon>button{
        width: 80%;
        height: 80%;
        font-size: 1.5em;
    }

    .searchInput{
        font: normal normal normal 2em Arial;
    }
    .togglesearch>p{
        font: normal normal normal 3em Arial;
    }

}


