body{
    background: #D9D9D9 0% 0% no-repeat padding-box;
    margin: 0;
}

.base-container{


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #D9D9D9 0% 0% no-repeat padding-box;

}

.navigate{
    background: #45326A 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 15vh;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 15vw;
    height: 10vh;
    object-fit:scale-down;
}

.logo>img   {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


button{

    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    background: #45326A 0% 0% no-repeat padding-box;

    margin: 2em;

    text-align: center;
    font: normal normal normal 1em Ebrima;
    letter-spacing: 0px;
    color: #D9D9D9;
    width: 25vh;

}
button:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.buttons{
    display: flex;
    flex-direction: row;
}

.burger {
    display: none;
}


@media (max-width:1050px) {

    .burger {
        display: inline;
        position: absolute;
        right: 0px;

    }
    .logo{
        position: absolute;
        left: 4vw;
    }
    .buttons{
        display: none;
        position: absolute;
        right: 0px;
        top: 13vh;
        flex-direction: column;
        align-items: center;
        background-color: #45326A;
        opacity: 0.95;
        border-radius: 12px;
        z-index: 3;


    }
    .navigate>button{
            width: 18vw;
            height: 8vh;
    }

}

@media (max-width: 500px),(max-device-width: 500px) {
    button{
        width: 40vw;
        height: 8vh;
        font-size: 2em;
    }

}