.add-games-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-games-form>p{
    text-align: left;
    font: normal normal bold  2em Arial;
    letter-spacing: 0px;
    color: #45326A;
    opacity: 1;
    height: 5vh;
}

.long-forms{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
}
.long-forms>input{
    margin-bottom:5%;
}

.short-forms-first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:30vw;
    margin-bottom:5%;

}

.short-forms-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:30vw;

}
form{
    text-align: center;
    width:30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fileAdd{
    text-align: center;
    margin-bottom: -5%;


}
.fileAdd>p{
    color: #45326a;
}

input{
    border: 1px solid #45326A;
    height:4vh;

}
form>button{
    height: 6vh;
}

.difficulty-level{
    margin-bottom: 4%;
    width: 90vw;
}
.difficulty-level>p{
    color: #45326a;
    font: normal normal bold  1.3em Arial;

}

select{
    border: 1px solid #BCE0FD;
    padding: 1% 10%;
    font-size: 1em;
}

@media (max-width: 500px),(max-device-width: 500px) {

.add-games-form{
    font-size: 2em;
}
    .add-games-form>p {
        text-align: center;

    }
    form{
        width: 80vw;
    }


    input{
        font-size: 1em;
    }

    .short-forms-first{

        width:80vw;
    }

    .short-forms-second{
        width:80vw;
    }
}




