body{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;

    background: transparent url('../img/bbBackLogin.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.logo{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;


}
.register-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
}


.register-container>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    background: #D9D9D9 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #3D3812B3;
    border-radius: 84px;
    background-color: rgba(0, 0, 0, 0.2);">

}


button{
    background: transparent linear-gradient(180deg, #ECECEC 0%, #134D7E 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 0.9;
    width: 40%;

    margin: 1em;

    text-align: center;
    font: normal normal bold 10px/12px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 2.5em;

}

input{
    width: 70%;
    padding: 1em;
    margin: 1em;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-bce0fd);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 24px;

    opacity: 1;

}

.messages{
    color: #FFFFFF;
}


@media (max-width: 500px),(max-device-width: 500px) {
    .container{
        align-items: center;
    }
    .logo{
        width: auto;
        height: auto;
    }
    .register-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90vw;
        height:70%;
    }
    .register{
        width: 90%;
        height: 100%;
    }

    input{
        width: 70%;
        height: 8%;
        font-size: 2em;
        border-radius: 70px;

    }
    .messages{
        font-size: 2em;
    }
    button{
        width: 90%;
        font-size: 2em;
        border-radius: 70px;
        height: 10%;
    }

}



