
main{
    display: grid;
    grid-template-columns: 1.2fr 2.4fr;
    justify-items: center;
    margin-top: 3%  ;
    margin-left: 3%;
    margin-right: 5%;
    column-gap: 5%;
}

.TitleAndImage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.Title{
    font: normal normal bold 2.5em Ebrima;
        color: #45326A;
    text-align: center;
}

.Image>img{
    border: 1px solid #707070;
    border-radius: 53px;
    width: 28vw;
    height:28vw;
    object-fit: fill  ;
    align-items: center;
}

i{
    color: #45326a;
}

.propertiesOfGame >  *{
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border-radius: 33px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.propertiesOfGame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    row-gap: 5%;
    width: 40vw;
    height:28vw;
}

.propertiesOfGame>*>p{
    font: normal normal bold 1.3em Ebrima;
    color: #45326A;
    margin:5%;
}

@media (max-width: 500px),(max-device-width: 500px) {
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .Image>img{
        width: 50vw;
        height:50vw;
        border: 2px solid #707070;
        border-radius: 53px;
    }

    .propertiesOfGame{
        width: 78vw;
        height: 78vw;
    }

    .propertiesOfGame>*{
        font-size: 1.4em;
    }

}