
main{
}

.searchForGames{
    display: -ms-grid;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    height:80%;
    place-items: center;
    width: 100vw;

}
.wrapper{
    position: relative;
    width: 95vmin;
    display: grid;
}
.container{
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 30px;
}


input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track{
    width: 100%;
    height: 5px;
    background-color: #9B92AD;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;

}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type = "range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

input[type = "range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    border-color: #45326A;
    pointer-events: auto;
    margin-top: -9px;

}

input[type = "range"]::-moz-range-thumb{
-webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FFFFFF;
    pointer-events: auto;

}

input[type = "range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FFFFFF;
}

input[type = "range"]:active::-webkit-slider-thumb{
background-color: #45326A;
}

.values{
    background-color: #45326a6e;
    width: 32%;
    position: relative;
    margin: auto;
    margin-top: 14px;
    padding:10px 0;
    text-align: center;
    font-family: Arial;
    font-weight: 500;
    font-size: 1.3em;
    color:#45326a;
}
.values:before{
    content: "";
    position: absolute;
    height:0;
    width: 0;
    border-bottom: 14px solid #45326a6e;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin:auto;
    top: -14px;
    left:0;
    right:0;

}
.Time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p{

    color: #45326A;
    font: normal normal bold 1.5em Arial;
}
.dropDownMenus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    padding-top: 3%;
    width: 90vw;
}

.icon-text{
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
    height: 90%;
    text-align: center;
}

.difficulty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.age{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberOfPlayers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    border: 1px solid #BCE0FD;
    padding: 3% 10%;
}

.Time{
    gap: 1%;
}
i{
    color: #45326a;
}
.accept-button{
    padding-top: 3%;
}

.accept-button>button{
    padding: 3% 3%;
}


@media (max-width: 500px),(max-device-width: 500px) {
    .dropDownMenus{
        display: flex;
        flex-direction: column;

        justify-content: center;
        padding-top: 3%;
        width: 90vw;
    }
    .searchForGames{
        font-size: 1.8em;
    }
    select{
        font-size: 1em;
    }

    .slider-track{
        height: 12px;

    }

    input[type = "range"]::-webkit-slider-thumb{
        height: 4em;
        width: 4em;
        border-radius: 30px;
        transform: translate(0px, -15px);
    }



}